<xml>
	<config DNU="I do not understand"
			DNK="I do not know"
			SUCCESS="ok"
			FAILURE="sorry"
			IK="I know"
			TERMS=". ? !"
			VALUESEP="+"
			REPEATFORMAT="I said, ... ."
			CONJUNCTIONS=", and or"
			REFERENCERS="the any"
			LISTFORMATSEP=":"
			ANDLISTFORMAT=", :, and "
			ORLISTFORMAT=", :, or " >
			
		<concepts>
			<concept id="complexityTest" op="ignore"/>
			<concept id="engine"         op="load"/>
			<concept id="colloquia"      op="load"/>
			<concept id="plural"         op="load"/>
			<concept id="settings"       op="load"/>
			<concept id="calculation"    op="load"/>
			<concept id="ambiguous"      op="load"/>
			<concept id="memrica"        op="ignore"/>
			<concept id="iNeed"          op="default" />
		</concepts>
	</config>
</xml>